In [25]:
import pandas as pd

# Ruta del archivo CSV
archivo_csv = r"C:\Users\jhont\OneDrive\Escritorio\modulo 1\Clase 02\Emisiones_CO2.csv"

# Leer el archivo CSV
df = pd.read_csv(archivo_csv, delimiter='|', encoding='ISO-8859-1')

# Mostrar los nombres de las columnas
print('Nombres de las columnas:')
print(df.columns)

# a) Número de variables
num_variables = df.shape[1]
print(f'Número de variables: {num_variables}')

# b) Tipos de datos
tipos_datos = df.dtypes
print('Tipos de datos por variable:')
print(tipos_datos)

# c) Clasificación de variables (puedes hacerlo manualmente o usando `dtypes`)

# d) Valores faltantes
valores_faltantes = df.isnull().sum()
print('Valores faltantes por variable:')
print(valores_faltantes)

# Limpiar y convertir las columnas de CO2 a numérico
# Primero, reemplazamos las comas y puntos
df['CO2 (kt)'] = df['CO2 (kt)'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False)
df['CO2 per cápita (toneladas métricas)'] = df['CO2 per cápita (toneladas métricas)'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False)

# Convertir a numérico, forzando NaN para los valores no convertibles
df['CO2 (kt)'] = pd.to_numeric(df['CO2 (kt)'], errors='coerce')
df['CO2 per cápita (toneladas métricas)'] = pd.to_numeric(df['CO2 per cápita (toneladas métricas)'], errors='coerce')

# Comprobar los tipos de datos después de la conversión
print('Tipos de datos después de la conversión:')
print(df.dtypes)

# e) Total de emisiones de CO2 en América Latina y Caribe en 2010
total_co2 = df[(df['Región'] == 'América Latina y Caribe') & (df['Año'] == 2010)]['CO2 (kt)'].sum()
print(f'Total de emisiones de CO2 para América Latina y Caribe en 2010: {total_co2}')

Nombres de las columnas:
Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)'],
      dtype='object')
Número de variables: 6
Tipos de datos por variable:
Código de país                         object
Nombre del país                        object
Región                                 object
Año                                     int64
CO2 (kt)                               object
CO2 per cápita (toneladas métricas)    object
dtype: object
Valores faltantes por variable:
Código de país                            0
Nombre del país                           0
Región                                    0
Año                                       0
CO2 (kt)                               2095
CO2 per cápita (toneladas métricas)    2098
dtype: int64
Tipos de datos después de la conversión:
Código de país                          object
Nombre del país                         object
Región                                  object
Año                                      int64
CO2 (kt)                               float64
CO2 per cápita (toneladas métricas)    float64
dtype: object
Total de emisiones de CO2 para América Latina y Caribe en 2010: 1691634.801

In [28]:
# Acceder a la primera fila (índice 0)
registro = df.iloc[100]
print(registro)

Código de país                                           AND
Nombre del país                                      Andorra
Región                                 Europa y Asia Central
Año                                                     2008
CO2 (kt)                                             539.049
CO2 per cápita (toneladas métricas)                 6.296125
Name: 100, dtype: object

In [29]:
resultados = df.loc[df["Año"] == 2010]
print(resultados)

      Código de país                Nombre del país  \
50               ABW                          Aruba
102              AND                        Andorra
154              AFG                     Afganistán
206              AGO                         Angola
258              ALB                        Albania
...              ...                            ...
10917            YEM                          Yemen
10969            ZAF                      Sudáfrica
11021            COD  Congo (República Democrática)
11073            ZMB                         Zambia
11125            ZWE                       Zimbabue

                                Región   Año    CO2 (kt)  \
50             América Latina y Caribe  2010    2456.890
102              Europa y Asia Central  2010     517.047
154                        Sur de Asia  2010    8470.770
206                África subsahariana  2010   29743.040
258              Europa y Asia Central  2010    4415.070
...                                ...   ...         ...
10917  Oriente Medio y Norte de África  2010   25716.670
10969              África subsahariana  2010  454950.020
11021              África subsahariana  2010    3252.630
11073              África subsahariana  2010    2673.240
11125              África subsahariana  2010    9028.150

       CO2 per cápita (toneladas métricas)
50                               24.182702
102                               6.124770
154                               0.302936
206                               1.401654
258                               1.515632
...                                    ...
10917                             1.090060
10969                             8.957154
11021                             0.049328
11073                             0.192079
11125                             0.646073

[214 rows x 6 columns]